body {
  font-family: Arial;
}
h2 {
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: aliceblue;
}
input[type="text"] {
  margin: 10px;
}
input[type="button"] {
  margin: 10px;
}
.container {
  width: 23%;
  float: left;
  clear: right;
  margin: 10px;
  border-radius: 2px;
}
.sortable {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  min-height: 30px;
  border-radius: 5px;
}
.sortable li {
  margin: 3px 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  font-family: "Courier New", Courier, monospace;
  height: 18px;
}
.sortable li span {
  position: absolute;
  margin-left: -1.3em;
}

.card {
  background-color: white;
  border-radius: 3px;
}
